#navigation {
margin-top: 0;
margin-bottom: 20px;
float:left;
min-height:32px;
background-color: #f8982b;
font-size: 12px;
text-transform: uppercase;
}
#navigation ul {
padding:0;
}
ul#nav {
margin:0;
}
/* BE SURE TO INCLUDE THE CSS RESET FOUND IN THE DEMO PAGE'S CSS */
/*------------------------------------*\
	NAV
\*------------------------------------*/
#nav {
	list-style:none;
	margin-bottom:10px;
	/* Clear floats */
	float:left;
	width:100%;
	position:relative;
	z-index:5;

}
#nav li {
	float:left;
	position:relative;
}
#nav a {
	display:block;
	padding:9px 1px;
	color:#ffffff;
	text-decoration:none;
	min-height:14px;
	text-align:center;
	width: 102px;
	border-right: 1px solid #ffffff;
	}

#nav-contact a {
 border-right: none; 
}

#nav-fitout a {
  width: 102px;
}

#nav a:hover{
	color:#f8982b;
	text-decoration:none;
}

/*--- DROPDOWN ---*/
#nav ul{
	background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
#nav ul li{
	border-top:1px solid #ffffff;
	float:none;
}
#nav ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	background:#ffffff;
	text-decoration:none;
	color:#f8982b;
}
#nav li:hover ul li a {
background:#f8982b;
color:#ffffff;
border-right: none;
}
#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
#nav li:hover ul li a:hover { /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background:#ffffff;
	color:#f8982b;
}
#home #nav #nav-home a,
#home #nav #nav-home .nav-home-sub a:hover,
#furniture #nav #nav-furniture a,
#furniture #nav #nav-furniture .nav-furniture-sub a:hover,
#print #nav #nav-print a,
#print #nav #nav-print .nav-print-sub a:hover,
#signage #nav #nav-signage a,
#signage #nav #nav-signage .nav-signage-sub a:hover,
#fitout #nav #nav-fitout a,
#fitout #nav #nav-fitout .nav-fitout-sub a:hover,
#stationery #nav #nav-stationery a,
#stationery #nav #nav-stationery .nav-stationery-sub a:hover,
#sample #nav #nav-sample a,
#sample #nav #nav-sample .nav-sample-sub a:hover,
#projects #nav #nav-projects a,
#projects #nav #nav-projects .nav-projects-sub a:hover,
#contact #nav #nav-contact a,
#contact #nav #nav-contact .nav-contact-sub a:hover {
  background:#ffffff;
	text-decoration:none;
	color:#f8982b;
}

#home #nav #nav-home .nav-home-sub a,
#furniture #nav #nav-furniture .nav-furniture-sub a,
#print #nav #nav-print .nav-print-sub a,
#signage #nav #nav-signage .nav-signage-sub a,
#fitout #nav #nav-fitout .nav-fitout-sub a,
#stationery #nav #nav-stationery .nav-stationery-sub a,
#sample #nav #nav-sample .nav-sample-sub a,
#projects #nav #nav-projects .nav-projects-sub a,
#contact #nav #nav-contact .nav-contact-sub a {
  background:#f8982b;
	color:#ffffff;
}
