/*
Theme Name: Blue Orange
Author: Joel Kriteman - Carciofino
Author URI: http://www.carciofino.com
Version: 1.0
*/

body {
  font-family: 'Century Gothic', 'Apple Gothic', AppleGothic, Arial, Helvetica, sans-serif;
  font-size:14px;
  padding:0;
  margin:0;
  background-image: url(images/bkd2.jpg);
  background-color:#007BC1;
  color:#ffffff;
  -webkit-text-size-adjust:none;
}

html {
  overflow-y: scroll;
}

a {
  outline: none;
}

#wrapper { 
  margin : 0 auto;
  width : 944px;
  padding: 0 20px 15px 20px;
}

#header {
  padding-top: 33px;
  min-height: 113px;
}

#logo {
  float: left;
}

#officesolutions {
  float: left;
  margin-top: 28px;
  margin-left: 5px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

#headerdetails {
  float: right;
  margin-top: 3px;
  font-size: 20px;
  text-align: right;
  font-weight: bold;
}

#headerdetails a {
  text-decoration: none;
  color: #ffffff;
}

#headerdetails a:hover {
  color: #f8982b;
}

#strapline {
  clear: both;
  padding-top: 5px;
  height: 26px;
  font-style: italic;
  margin-left: 384px;
}

#content {
  clear: both;
}

#panelbody {
background-color: #ffffff;
padding: 20px;
}

#homeimage {
  height: 290px;
  width: 979px;
  vertical-align: bottom;
}

img.attachment-post-thumbnail {
  float: left;
  width: 164px;
  margin-right: 21px;
  height: auto;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.threecolumn img.attachment-post-thumbnail,
.newspage img.attachment-post-thumbnail,
.location img.attachment-post-thumbnail {
  width: 287px;
}

.newspage img.attachment-post-thumbnail {
  margin-bottom: 20px;
}

#content.newspage,
#content.account {
  color: #666666;
}

h2,
ul.post-categories li {
  margin: 0 0 15px 0;
  font-size: 22px;
}

ul.post-categories {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 22px;
  font-weight: bold;

}

h2 a,
ul.post-categories a {
  color: #666666;
  text-decoration: none;
  
}

#content.newspage h2
#content.account h2 {
  margin-top: 0;
  padding-top: 15px;
}

.date {
  float: right;
  font-size: 12px;
}

#cimy_div_id_0 {
  float: left;
  margin: 0 auto 20px auto;
  border: none;
	width: 944px;
	height: 280px;
	}
	
#cimy_div_id_0 img {
  width: 944px;
  height: 280px;
}

#cimy_div_id_1 {
  float: left;
  margin: 0 auto;
	border: none;
	width: 287px;
	height: 191px;
	-webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 4px;
}
	
#hometext {
  background-color: #f8982b;
  padding: 10px 20px;
}

#hometext p {
  margin: 10px 0;
}

#hometext em {
  font-size: 20px;
}

#pagetext {
  color: #666666;
}

.location #pagetext {
  float: right;
  width: 596px;
}

#pagetext a.furnituredownload,
.threecolumn #homethumbs li a.furnituredownload,
a.allnews {
  float: right;
  padding: 5px 10px;
  background-color: #f8982b;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 10px;
}

.threecolumn #homethumbs li a.furnituredownload {
  float: none;
}


#pagetext a.furnituredownload:hover,
.threecolumn #homethumbs li a.furnituredownload:hover,
.threecolumn#homethumbs li a.furnituredownload:hover,
.pagelinks a:hover,
a.allnews:hover {
  color: #f8982b;
  background-color: #ffffff;
  text-decoration: none;
}

a.allnews {
  float: left;
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 0;
}

.pagelinks {
  text-transform: uppercase;
  margin: 5px 0;
}

.pagelinks a {
  padding: 5px 10px;
  background-color: #f8982b;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.readlinks {
  margin-bottom: 20px;
  font-size: 10px;
  margin-right: 5px;
}

.readlinks a {
  color: #f8982b;
  text-decoration: none;
}

.readlinks a:hover {
  color: #666666;
}

.nav-previous {
  float: left;
}
.nav-next {
  float: right;
}

#pagetext a {
  color: #f8982b;
  text-decoration: none;
}

#pagetext a:hover {
  color: #007bc1;
  text-decoration: underline;
}

#pagetext p,
#newspanel p {
  margin-bottom: 0;
  margin-top: 15px;
}

#newspanel p.articletitle {
margin-bottom: 5px;
}

#pagetext p.onlineordering {
  margin-top: 0;
  min-width: 164px;
  float: right;
}

p.password {
  float: right;
  text-align: right;
  padding-right: 21px;
}

#gridpagetop {
  background-color: #ffffff;
  padding: 20px;
}

#homethumbs {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #ffffff;
}

#homethumbs.grid {
  background-color: #ffffff;
}

#homethumbs ul,
#newspanel ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;
}

#homethumbs ul ul {
  list-style-type: disc;
}

#homethumbs li,
#newspanel li {
  float: left;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #cccccc;
  margin-bottom: 15px;
  background-color: #ffffff;
  width: 164px;
  color: #888888;

}

.threecolumn #homethumbs li {
  width: 287px;
}

.threecolumn #homethumbs li.threecentre {
  width: 288px;
}

#newspanel {
  background-color: #ffffff;
}

#homethumbs li {
  border-left: 0px solid #ffffff;
  margin-left: 21px;
  padding-left: 0;
  margin-bottom: 18px;
}

#homethumbs.grid li {
  border-left: 1px solid #cccccc;
  margin-left: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

#homethumbs li.left,
#newspanel li.left {
  margin-left: 20px;
  padding-left: 0;
  border-left: 0px solid #ffffff;
}

#homethumbs.grid ul ul li {
  width: 143px;
  margin-bottom: 5px;
  border-left: 0px solid #ffffff;
  margin-left: 15px;
  padding-left: 0;
}

#homethumbs img {
  width: 164px;
  height: 109px;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.threecolumn #homethumbs img {
  width: 287px;
  height: 191px;
}

.threecolumn #homethumbs li.threecentre img {
  width: 288px;
}

a img:hover {
  opacity: 0.7;
  transition: 700ms;
}

a img {
border: none;
}

.homethumbtext {
text-transform: uppercase;
color: #007BC1;
font-weight: bold;
}

#furniture h2,
#furniture .homethumbtext,
p.click {
  color: #f8982b;
}

#print h2,
#print .homethumbtext {
  color: #b01aa7;
}

#signage h2,
#signage .homethumbtext {
  color: #3aa825;
}

#fitout h2,
#fitout .homethumbtext {
  color: #bf1035;
}

#stationery h2,
#stationery .homethumbtext {
  color: #1acbe5;
}

#homethumbs li a,
#footer li a {
  color: #007bc1;
  text-decoration: none;
  font-weight: normal;
}

#homethumbs li a:hover,
#footer li a:hover {
  color: #f8982b;
  text-decoration: underline;
}

#newspanel{
margin-top: 20px;
padding-top: 15px;
margin-bottom: 15px;
}

.wpcf7-form input.wpcf7-text,
.wpcf7-textarea {
  padding: 5px;
  width: 260px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #cccccc;
  margin-right: 20px;
}

.wpcf7-form input.wpcf7-text:focus,
.wpcf7-textarea:focus {
  border: 1px solid #f8982b;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

#content.location .wpcf7-form input.wpcf7-text,
#content.location .wpcf7-textarea {
  width: 300px;
}

td {
  padding: 0 10px 5px 0;
}

#content.location td {
  min-width: 150px;
}

h3 {
  color: #f8982b;
}

p.click {
  float: left;
}

input.wpcf7-submit {
  padding: 2px;
  background-color: #f8982b;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  width: 270px;
  border: 0px solid #cccccc;
  font-size: 14px;
}

.location input.wpcf7-submit {
  width: 312px;
}

input.wpcf7-submit:hover {
  background-color: #ffffff;
  color: #f8982b;
}

#footercontact,
#footercontact a,
#newspanel .blurb {
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
}

#newspanel .blurb {
  color: #888888;
}

h4 {
margin: 0 0 10px 0;
font-size: 16px;
}

#footer li h4 a {
color: #888888;
text-decoration: none;
font-weight: bold;
}

#footercontact a:hover {
color: #007bc1
}

#footeraddress {
  float: left;
}

#footercarciofino {
  text-align: right;
}

.clear {
  clear: both;
}

img .epaper {
  display: none;
}